<h1 class="page-header">Contact Page</h1>


  <%= form_tag(contact_path) do %>
  
  <%= text_field_tag(:name, " ", placeholder: "Name" ) %>
  <%= email_field_tag(:email, " ", placeholder: "Email" ) %>
  <%= text_area_tag(:question, " ", placeholder: "Question" ) %>  
  <%= submit_tag("Submit" class="btn btn-sucess") %>
  <% end %>